<div class="row"> 
		<div class="col-md-4">
		<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
		</div>

		<div class="col-md-8">
		<h2><%= @book.title %></h2>
		<h3><%= @book.author %></h3>
		<h4>Average Rating</h4>
		<div class="average-review-rating" data-score=<%= @average_review %>></div>
		<span style="color:darkolivegreen;font-weight:bold"> Based on reviews: <%= @book.reviews.count %> reviews</span>	
		<p><%= @book.description %></p>
		<p>Category: <%= @book.category.name %></p>
		<%= link_to "Back", root_path %>
		</div>

</div>

<div class="row"> 
		<div class="col-md-4">
	<div>	
		<%= link_to "Add Review", new_book_review_path(@book) %>
		</div>
		<%= render @book.reviews.order("created_at DESC") %>

	

		</div>
	
		<div class="col-md-8">
	<% if u_ser_signed_in? %>

		<% if @book.u_ser_id == current_u_ser.id %>

			<%= link_to "Edit", edit_book_path(@book) %>
			<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are your sure?" } %> 
		<% end %>

	<% end %>

	<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {

			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
	</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',	
		score: function() {

			return $(this).attr('data-score');
		}
	});
	</script>
	</div>
	</div>  