<div class="row"> 
		<div class="col-md-4">
		<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
		</div>

		<div class="col-md-8">
		<div class="book-info">
		<h2 class="book-title"><%= @book.title %></h2>
		<h3 class="book-author"><span>From </span><%= @book.author %></h3>
		<h4 class="average-rating">Average Rating</h4>
		<div class="average-review-rating" data-score=<%= @average_review %>></div>
		<span class="number-of-reviews" style="color:darkolivegreen;font-weight:bold"> Based on reviews: <%= @book.reviews.count %> reviews</span>	
		<p style="color:blue;font-weight: b">Average score for sentiments: <%= @book.reviews.sum('sentiment_score').round(2) %>	</p>
		<p class="book-desc"><%= @book.description %></p>
		<p>Category: <%= @book.category.name %></p>
		</div>
	
		</div>

</div>

<div class="row"> 
		<div class="col-md-4">
				<div class="reviews">	
		
				<h1> Reviews </h1>	
				<%= link_to "Add Review", new_book_review_path(@book) %>
				
				<%= render @book.reviews.order("created_at DESC") %>

				</div>
			</div>
	
		<div class="col-md-8">
	<div class="links btn-group">
		 <%= link_to "Back", root_path, class: "btn btn-custom" %>

		<% if u_ser_signed_in? %>

			<% if @book.u_ser_id == current_u_ser.id %>

				<%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
				<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are your sure?" }, class: "btn btn-custom" %> 
			<% end %>

		<% end %>
	</div>	

	<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {

			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
	</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',	
		score: function() {

			return $(this).attr('data-score');
		}
	});
	</script>
	</div>
	</div>  